# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno locales
.env
.env.local
.env.development.local

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db